.sectionInner {
  display: flex;
  flex-direction: column;
}
.sectionInner span {
  margin-bottom: 10px;
}
.sectionInner a {
  color: var(--link-color);
}
.sectionInner a:hover {
  color: var(--link-hover-color);
}
