.backgroundVideo {
  z-index: -1;
  object-fit: cover;
}

.backgroundVideoAgent {
  width: 100%;
  min-width: auto;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.backgroundVideoReasoning {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}
