.textField {
  color: black;
  border: none;
  outline: 1px solid #232323;
  border-radius: 2px;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  pointer-events: all;
}
.textField:focus {
  outline: 1px solid #606060;
}
