.textField {
  color: var(--font-color-textfield);
  border: none;
  outline: 1px solid var(--textfield-background-color);
  border-radius: 2px;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  pointer-events: all;
  width: 100%;
}
.textField:focus {
  outline: 1px solid var(--textarea-focus-color);
}
