.fixedContentContainer {
  position: fixed;
  margin-top: 10px;
  width: 100%;
  bottom: 0;
  background: none;
  z-index: 2;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  left: 0;
}

.fixedContentContainer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: auto;
}

.fixedContentRow {
  margin-bottom: 20px;
}

.fixedContentContainer input[type="button"] {
  margin-bottom: 0;
  margin-right: 5px;
}

.fixedContentContainer input[type="button"]:last-of-type {
  margin-right: 0;
}

.pageBottomColor,
.pageTopColor {
  background: var(--page-filler-color);
  height: 40px;
  position: fixed;
  width: var(--page-filler-color-width);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  margin-top: var(--page-filler-top-margin-top);
}
.pageBottomColor {
  height: var(--page-filler-bottom-height-editor);
  width: var(--page-filler-bottom-width-editor);
  bottom: 0;
}
.pageTopColor {
  height: var(--page-filler-top-height-editor);
  top: 0;
}
.missionTextArea {
  margin-bottom: var(--chat-container-margin-bottom);
}

.uiControlsWrapper {
  position: fixed;
  top: 10px;
  right: 37px;
  z-index: 2;
  margin-left: auto;
}
.sidebar {
  width: 200px;
  position: fixed;
  top: 10px;
  overflow-y: auto;
  height: 100vh;
  z-index: 4;
}
.leftSidebar {
  left: 20px;
}
.rightSidebar {
  right: 20px;
}
.sidebar .section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.sidebar h4 {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: normal;
}
.sidebar input {
  width: 100%;
  margin-bottom: 4px;
}
.sidebar input:last-of-type {
  margin-bottom: 0;
}
